﻿
@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_ LayoutUser.cshtml";
}
<style type="text/css">
    td {
        height: 40px;
    }

    .bg {
        width: 550px;
        height: 380px;
        background-image: url('../../images/dangnhap.png');
        background-size: cover;
        background-position: center -100px; /* Chỉnh vị trí chiều dọc -100px để thay đổi vị trí dọc */
        margin: 0 auto; /* Để căn giữa ngang */
        background-position-y: 460px;
    }

        .bg h2,
        .bg table {
            padding-top: 80px;
        }

    h2 {
        text-align: center;
    }

    table {
        margin: 0 auto;
    }

    td, input {
        padding: 10px;
    }

    td {
        text-align: right;
        font-weight: bold;
    }

    h4 {
        color: red;
        text-align: center;
    }
</style>
<h4>@ViewBag.ThongBao</h4>
<div class="bg">
    <h2>ĐĂNG NHẬP</h2>
    <table>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <tr>
                <td>Tên đăng nhập: </td>
                <td>
                    @Html.TextBox("TenDN")
                    @ViewData["Err1"]
                </td>
            </tr>
            <tr>
                <td>Mật khẩu: </td>
                <td>
                    @Html.Password("MatKhau")
                    @ViewBag.Err2
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Đăng nhập" />
                </td>
            </tr>
        }
    </table>
</div>
