﻿
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<SachOnline.Models.SACH>
@{
    ViewBag.Title = "SachTheoChuDe";
    Layout = "~/Views/Shared/_ LayoutUser.cshtml";
}
<h2 class="text-center">SÁCH THEO CHỦ ĐỀ</h2>
<hr />
@if (!Model.Any())
{
    <h4 style="padding: 25px 0px; color: #ff0000;">Không tìm thấy kết quả nào cho chủ đề "@ViewBag.ten".</h4>
    <div class="text-center">
        <img style="width: 700px; height: 400px; display: block; margin: 0 auto;" src="~/Images/404.jpg" />
    </div>
}
else
{
    <div class="row text-center">
        @foreach (var sach in Model)
        {
            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 sp">
                <div class="thumbnail">
                    <img src="~/Images/@sach.AnhBia" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook size">
                    <div class="caption">
                        <h4 class="ten">
                            <a href="@Url.Action("ChiTietSach", "SachOnline", new { id = sach.MaSach })">@sach.TenSach</a>
                        </h4>
                        <p>
                            <a href="javascript:void(0);" onclick="addToCart(@sach.MaSach)" class="btn btn-primary" role="button">
                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}
@*Tạo liên kết các trang*@
Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount

<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("SachTheoChuDe", new { id = ViewBag.Id, page }))
</div>
